@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "safaa"; 
    src: url("../assets/fonts/Safaa-UltraLight.otf"); 
} 
@font-face { 
    font-family: "mj_colors"; 
    src: url("../assets/fonts/mj-colors.ttf"); 
}